<%- include("../shared/head", {title: "Nowy produkt"}) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/hamburger.css">
<link rel="stylesheet" href="/styles/admin-new-product.css">
<script src="/scripts/hamburger.js" defer></script>
</head>
<%- include("../shared/header") %>
<body>
    <form action="/admin/dodaj?_csrf=<%= locals.csrfToken %>" method="POST" enctype="multipart/form-data">
        <h1 class="admin-title">Nowy produkt</h1>
        <ul>
            <li>
                <label for="title">Tytuł</label>
                <input type="text" name="title" id="title" required>
            </li>
        </ul>
        <ul>
            <li>
                <label for="description">Opis</label>
                <textarea name="description" id="description" cols="30" rows="10" required></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label for="price">Cena</label>
                <input type="number" name="price" id="price" step="0.01" required>
            </li>
        </ul>
        <ul>
            <li id="input-photo">
                <label for="photo">Wybierz zdjęcie</label>
                <input type="file" name="photo" id="photo" accept="image/png,image/jpg" required>
            </li>
        </ul>
        <button>Dodaj produkt</button>
    </form>
</body>
<%- include("../shared/footer") %>