<%- include("../shared/head", {title: "Błąd"}) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/orders.css">
<link rel="stylesheet" href="/styles/hamburger.css">
<script src="/scripts/hamburger.js" defer></script>
<script src="/scripts/show-forms.js" defer></script>
</head>
<%- include("../shared/header") %>
<body>
    <h1>Coś poszło nie tak...</h1>
</body>
<%- include("../shared/footer") %>