<ul id="nav-items">
    
    <% if(locals.isAdmin) { %>
        <li class="item">
            <a href="/admin/dodaj">Dodaj nowy produkt</a>
        </li>
        <li class="item">
            <a href="/admin/status">Status zamówień</a>
        </li>
        <li>
            <a href="/"><img class="skibka-logo" src="images/logo.svg" alt="Louda"></a> 
        </li>
        <li class="item">
            <a href="/admin/klienci">Podgląd klientów</a>
        </li>
        <li class="item">
            <a href="/admin/inne">Inne funkcje</a>
        </li>
    <% } %>
    
    <% if(!locals.isAdmin) { %>
    <li class="item">    
        <a href="/historia">O nas</a> 
    </li>
    
    <li class="item">
        <a href="/produkty">Nasze produkty</a>
    </li>

    <li>
        <a href="/"><img class="skibka-logo" src="images/logo.svg" alt="Logo"></a> 
    </li>

    <li class="item">
        <a href="/zamowienia">Złóż zamówienie</a>
    </li>

    <li class="item">
        <a href="/kontakt">Kontakt</a>
    </li>
    <% } %>
</ul>

<ul id="nav-items-small">
    <li>
        <a href="/"><img class="skibka-logo" src="images/logo.svg" alt="Logo"></a> 
    </li>
    <li>
        <div id="hamburger-icons">
            <div class="hamburger-icon"></div>
            <div class="hamburger-icon"></div>
            <div class="hamburger-icon"></div>
        </div>
    </li>
</ul>


<aside id="hamburger-menu" class="active, inactive">
    <ul id="hamburger-menu-content">
        <% if(!locals.isAdmin) { %>
        <li>
            <a href="/historia">O nas</a> 
        </li>
        <li>
            <a href="/produkty">Nasze produkty</a>
        </li>
        <li>
            <a  href="/">Strona główna</a> 
        </li>
        <li>
            <a href="/zamowienia">Złóż zamówienie</a>
        </li>
        <li>
            <a href="/kontakt">Kontakt</a>
        </li>
        <% } %>
        <% if(locals.isAdmin) { %>
            <li>
                <a href="/admin/dodaj">Dodaj nowy produkt</a>
            </li>
            <li>
                <a href="/admin/status">Status zamówień</a>
            </li>
            <li>
                <a  href="/">Strona główna</a> 
            </li>
            <li>
                <a href="/admin/klienci">Podgląd klientów</a>
            </li>
            <li>
                <a href="/admin/inne">Inne funkcje</a>
            </li>
        <% } %>
    </ul>
</aside>