.admin-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto 3rem auto;
    padding: 2rem 1rem;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-gold-100);
    box-shadow: 1px 1px 3px var(--color-gray-300);
}

form ul {
    padding: 0;
}

form ul li {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

li label {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

li input[type="text"],li input[type="number"], li textarea{
    width: 80%;
    margin: 0 auto;
    border-radius: var(--border-radius-small);
    border-color: var(--color-white-100);
    border-width: 2px;
    border-style: inset; 
    resize: none;
}

#input-photo label {
    margin: 0 auto;
    font-size: 1rem; 
    padding: 1rem;
    color: var(--color-brown-200);
    background-color: var(--color-white-100);
    border-radius: var(--border-radius-small);
}

#input-photo label:hover {
    background-color: var(--color-white-200);
    cursor: pointer;
}

li input[type="file"] {
    display: none;
}


@media only screen and (max-width: 48rem) {
    .admin-title {
        margin-top: 0;
    }

    form {
        margin: 4rem auto;
        width: 70%;
        padding: 2rem;
    }

    li input[type="text"],li input[type="number"], li textarea {
        width: 100%;
    }
}

