html {
  --color-gold-50: rgba(244, 227, 196, 0.8);
  --color-gold-100: rgba(252, 222, 164, 0.8);
  --color-gold-150: rgba(249, 213, 142, 0.8);
  --color-gold-200: rgba(192, 136, 30, 0.8);
  --color-gold-300: rgb(146, 103, 23);

  --color-red-100: rgba(253, 89, 89, 0.6);
  --color-red-200: rgba(253, 74, 74, 0.6);
  --color-red-600: rgb(97, 0, 0);

  --color-white-100: rgba(255, 255, 255, 0.3);
  --color-white-200: rgba(255, 255, 255, 0.5);


  --color-gray-100: rgb(126, 126, 126);
  --color-gray-300: rgb(72, 72, 72);
  --color-gray-500: rgb(46, 46, 46);

  --color-brown-200: rgb(91, 57, 55);

  --border-radius-small: 6px;
  --border-radius-medium: 8px;

  font-family: 'Cormorant Infant', serif;

  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#nav-items-small {
  display: none;
}

#nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 2rem auto;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

#nav-items .item {
  width: 12rem;
  height: 2rem;
  text-align: center;
}

#nav-items .item a {
  color: var(--color-gold-200);
  padding: 0.75rem;
  border-radius: var(--border-radius-medium);
}

#nav-items .item a:hover {
  color: var(--color-gold-300);
  background-color: var(--color-gold-100);
}

.skibka-logo {
  height: 5rem;
  margin: 0 1rem;
}

.inactive {
  display: none;
}

.active {
  margin: -1px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 130%;
  width: 100%;
  background-color: white;
  position: absolute;
}

#warning-login, #warning-signup {
  display: none;
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-red-100);
  color: var(--color-red-600);
  text-align: center;
  font-size: 0.75rem;
}

.error-code-title {
  margin: 5rem auto;
  text-align: center;
}

.warning {
  text-align: center;
  margin: 5rem auto -5rem auto;
  width: 15rem;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-red-600);
  border-radius: 10px;
}

input::placeholder {
  font-family: 'Cormorant Infant', serif;
  font-size: 0.75rem;
  color: var(--color-red-600);
}

@media only screen and (max-width: 64rem) {
  #nav-items {
    width: 100%;
  }
}