#background-img {
    position: absolute;
    z-index: -1;
    width: 100%;
}

#log-or-register {
    padding: 0;
    margin: 15rem auto 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#log-or-register a {
    padding: 2rem 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--color-gold-100);
    border-radius: var(--border-radius-medium);
    color: var(--color-gray-500);
}

#log-or-register a:hover {
    background-color: var(--color-gold-200);
}

#register-section, #login-section {
    width: 30%;
    padding: 2rem 2rem 4rem 2rem;
    margin: 5rem auto 0 auto;
    background-color: var(--color-gold-100);
    border-radius: var(--border-radius-medium);
}

#register-section ul {
    padding: 0;
}

#login-section ul {
    padding: 0;
}

.is-invisible {
    display: none;
}

.is-visible {
    display: block;
}

.list-element {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 1rem auto;
}

.list-element label {
    font-weight: lighter;
}

.buttons {
    width: 60%;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 6rem;
}

@media only screen and (max-width: 48rem) {
    #log-or-register {
        width: 70%;
        flex-direction: column;
        justify-content: space-between;
        margin: 5rem auto;
    }

    #log-or-register a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        padding: 1.5rem 4rem;
    }

    #background-img {
        height: 100%;
        object-fit: cover;
    }
}