.background-img {
  position: absolute;
  z-index: -1;
  height: 150%;
  width: 100%;
  object-fit: cover;
}

h1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

#product-list {
  padding: 0;
  margin: 2rem auto;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 28%);
  justify-content: center;
  gap: 1rem;
}

#product-list li {
  padding: 1rem 2rem;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-gold-100);
  align-content: center;
  box-shadow: 1px 1px 3px var(--color-gray-300);
}

.product-title {
  text-align: center;
  font-size: 1.25rem;
}

.product-image-p {
  margin: 1rem 0;
  text-align: center;
}

.product-image {
  width: 100%;
  max-width: 17.5rem;
  height: 15rem;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
}

.product-description {
  margin: 1rem auto;
  width: 90%;
  height: 4rem;
  text-align: justify;
}

.product-price {
  text-align: center;
  font-style: italic;
}

.product-cart {
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem 4rem;
  border: none;
  background-color: var(--color-gold-100);
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  text-align: center;
  justify-content: center;
  box-shadow: 1px 1px 3px var(--color-gray-300);
}

.product-cart:hover {
  cursor: pointer;
  background-color: var(--color-white-200);
}

@media only screen and (max-width: 72rem) {
  #product-list {
    grid-template-columns: repeat(2, 48%);
  }
}

@media only screen and (max-width: 42rem) {
  #product-list {
    display: flex;
    flex-direction: column;
  }
}
