<%- include("../shared/head", {title: "Kontakt"}) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/hamburger.css">
<script src="/scripts/hamburger.js" defer></script>
</head>
<%- include("../shared/header") %>
<body>
    
</body>
<%- include("../shared/footer") %>