<%- include("../shared/head", {title: "Kontakt"}) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/contact.css">
<link rel="stylesheet" href="/styles/hamburger.css">
<script src="/scripts/hamburger.js" defer></script>
</head>
<%- include("../shared/header") %>
<body>
    <section id="table">
        <h1>Kontakt</h1>
        <hr>
        <p>
            <ul>
                <li>
                    +48 575 732 777
                </li>
                <li>
                    ul. Wilka 2, 62-080 Sierosław
                </li>
                <li>
                    <a href="https://www.facebook.com/Skibka.Manufaktura.Chleba/" target="_blank">Nasz facebook</a>
                </li>
            </ul>
        </p>
    </section>
</body>
<%- include("../shared/footer") %>